<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"/>
<body>
<div th:insert="~{fragments/menu:: menu}"></div>


<div>
    <table>
        <thead>
        <tr>
            <th>ID|</th>
            <th>Login|</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.id}"/>
            <th th:text="${user.username}"/>
            <th th:text="${user.roles} + ' '"/>
            <th><a th:href="'/user/'+ ${user.id}">Edit</a></th>
        </tr>
        </tbody>
    </table>

</div>


<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>